*,*:before,*:after{
    padding: 0;
    margin: 0;
    border:0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    font-family: Arial, sans-serif;
}

.wrapper {

}

.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 50;
    /*color: white;*/
}

.header:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #444;
    z-index: 2;
}

.header_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}




.header_menu {

}

.header_list {
    display: flex;
    position: relative;
    z-index: 3;
}

.header_list li{
    list-style: none;
    margin: 0 0 0 40px;
    z-index: 2;
}

.header_link {

    color: black;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
}

.content{
    padding: 90px 0 0 0;
}

.header_burger{
    display: none;
}

.header_logo{
    flex: 0 0 60px;
    z-index: 3;
}

.header_logo img {
    max-width: 100%;
}


.main_page_header{
    text-align: center;
    padding: 100px 0 0 0;
}

.main_page_statistics_container {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.main_page_statistics_container {
    margin-top: 6vh;
}

.main_page_box{
    margin-right: 3vh;
    height: 13vh;
    width: 13vh;
    border-radius: 3vh;
    border: 0.6vh solid gray;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main_page_box:last-child {
    margin-right: 0;
}

/*.main_page_box{*/
/*    text-align: center;*/
/*    !*align-items: center;*!*/
/*    !*display: flex;*!*/
/*    !*flex-direction: column;*!*/
/*}*/

.site_title{
    /*margin-top: 5px;*/
}

@media (max-width: 768px) {
    .header_burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    body.lock {
        overflow: hidden;
    }

    .header_body {
        height:  50px;

    }

    .header_logo {
        flex: 0 0 40px;
    }

    .header_burger span {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header_burger:before,
    .header_burger:after {
        content: '';
        background-color: white;
        position: absolute;
        width:100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header_burger:before {
        top: 0;
    }

    .header_burger:after {
        bottom: 0;
    }

    .header_burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header_burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header_burger.active span {
        display: none;

    }

    .header_menu {
        position: fixed;
        top: -100%;
        right: 0;
        width: 100%; /*decrese width for big screens*/
        height: 100%;
        padding: 70px 0 0 0;
        background-color: #27829f;
        z-index: 1;
        overflow: auto;
        transition: all 0.3s ease 0s;
    }

    .header_menu.active {
        top: 0;
    }

    .header_list {
        display: block;
    }

    .header_list li {
        margin: 0 0 40px 20px;
    }

    .content {
        padding: 60px 0 0 0;
    }

    .header_link {
        font-weight: bold;
        font-size: 30px;
    }

}

